<% include header.ejs %>

<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head> -->
<!-- Mashead header-->
<header class="masthead">
  <div class="container px-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6">
        <!-- Mashead text and app badges-->
        <div class="mb-5 mb-lg-0 text-center text-lg-start">
          <h1 class="tituloPrincipal"><%= title %></h1>
          <h1><%=__('How are you') %></h1>
          <h3>¡Bienvenido a <%= title %>!</h3>
          <h2><%= tituloProductos %></h2>

          <% productos.forEach( producto=> { %>
          <div>
            <img src="<%= producto.foto %>" alt="" />
            <h2><%= producto.nombre %></h2>
            <p>Precio: <%= producto.precio %></p>
            <p>
              <% if (producto.venta) { %> Se vende <% } else { %> Se compra <% }
              %>
            </p>
            <h5>TAGS:</h5>
            <%= producto.tags %>
          </div>
          <% }) %>
          <h2><%= ejemplo %></h2>
          <h2><%= __('i18n example for plurals') %></h2>
          <p>0 <%= __n('Mouse', 0) %></p>
          <p>1 <%= __n('Mouse', 1) %></p>
          <p>2 <%= __n('Mouse', 2) %></p>
        </div>
      </div>
    </div>
  </div>
</header>

<% include footer.ejs %>
