<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <% include header.ejs %>

    <h2><%= tituloProductos %></h2>


    <% productos.forEach( producto => { %>
    <div>
        <img src="<%= producto.foto %>" alt="">
        <h2>
          <%= producto.nombre %>
        </h2>
        <p>
          Precio: <%= producto.precio %>
        </p>
        <p>
          <% if (producto.venta) { %>
            Se vende
          <% } else { %>
            Se compra
          <% } %>
        </p>
        <h5>
          TAGS:
        </h5>
          <%= producto.tags %>
    </div>
    <% }) %>
    
  </body>
</html>
