<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <% include header.ejs %>

    <h2><%= tituloProductos %></h2>


    <% productos.forEach( producto => { %>
      <li>
        Nombre: <%= producto.nombre %>
        <li>
          <%= producto.venta %>
        </li>
        <li>
          <%= producto.precio %>
        </li>
        <li>
          <img src="<%= producto.foto %>" alt="" width="100px" height="100px">
          
        </li>
        <li>
          <%= producto.tags %>
        </li>
      </li>
    <% }) %>
    
  </body>
</html>
